<h2>Virtual Scroll</h2>
<hr>

<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="irFinal()">
      Ir al final
    </button>
  </div>
  <div class="col text-center">
    <button class="btn btn-warning" (click)="irCenter()">
      Ir al centro
    </button>
  </div>
  <div class="col text-right">
    <button class="btn btn-secondary" (click)="irInicio()">
      Ir al inicio
    </button>
  </div>
</div>
<br>
<hr>

<cdk-virtual-scroll-viewport itemSize="50" class="list-container list-group" #virtualScroll>

  <div class="list-group-item" *cdkVirtualFor="let persona of personas; let i = index; let cont = count;">
    Item {{ i }} / {{ cont }}
  </div>


</cdk-virtual-scroll-viewport>
